@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @Html.ActionLink("Hello World", "HelloWorld", "Home")
</div>

<div class="text-center">
    @Html.ActionLink("Hello Application", "HelloApplication", "Home")
</div>

<div class="text-center">
    @Html.ActionLink("Hello User", "HelloUser", "Home")
</div>